{
  "interface": "0.0.0.0",
  "port": 8000,
  "directory": ".",
  "ssl": false,
  "self_signed": false,
  "private_key": "",
  "certificate": "",
  "p12": "",
  "p12_no_pass": false,
  "letsencrypt": false,
  "letsencrypt_domain": "",
  "letsencrypt_email": "",
  "letsencrypt_http_port": "80",
  "letsencrypt_tls_port": "443",
  "auth_username": "",
  "auth_password": "",
  "certificate_auth": "",
  "webdav": false,
  "webdav_port": 8001,
  "upload_only": false,
  "read_only": false,
  "no_clipboard": false,
  "no_delete": false,
  "verbose": false,
  "silent": false,
  "running_user": "",
  "cli": false,
  "embedded": false,
  "output": "",
  "webhook_enabled": false,
  "webhook_url": "",
  "webhook_provider": "discord",
  "webhook_events": [
    "all"
  ],
  "sftp": false,
  "sftp_port": 2022,
  "sftp_keyfile": "",
  "sftp_host_keyfile": "",
  "whitelist": "",
  "trusted_proxies": ""
}
