{{ template "header" . }}
      <div class="row">
        <div class="col-md-12 mt-2">
          <div class="d-flex align_item_center">
            <h3>Error message from goshs:</h3>
            <code class="error-code p-3">{{.ErrorMessage}}</code>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <span class="error-back">
              <i class="fa-solid fa-level-up-alt file_ic"></i>
              <a href="javascript:window.history.back()">Back</a>
          </span>
        </div>
      </div>
{{ template "footer" . }}
