<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>goshs ERROR - {{.AbsPath}}</title>
    <!-- stylesheets -->
    <link
      rel="icon"
      type="image/gif"
      href="/425bda8487e36deccb30dd24be590b8744e3a28a8bb5a57d9b3fcd24ae09ad3c/images/favicon.gif"
    />
    <link
      rel="stylesheet"
      href="/425bda8487e36deccb30dd24be590b8744e3a28a8bb5a57d9b3fcd24ae09ad3c/css/style.css"
    />
    <link
      rel="stylesheet"
      href="/425bda8487e36deccb30dd24be590b8744e3a28a8bb5a57d9b3fcd24ae09ad3c/3rdparty/fontawesome-5.15.1/css/all.min.css"
    />
  </head>
  <body class="disable-scrollbars">
    <div class="container-fluid p-4">
      <!-- Header -->
      <div class="row">
        <div class="col-md-12">
          <header id="header" class="d-flex align_item_center">
            <div onclick="document.location='/'" class="logo">
              <img
                src="/425bda8487e36deccb30dd24be590b8744e3a28a8bb5a57d9b3fcd24ae09ad3c/images/error-gopher.gif"
                alt="goshs"
              />
            </div>
            <div class="heading_title">
              {{ if (eq .ErrorCode 404) }}
              <h2>404 Not found - Requested path: {{.AbsPath}}</h2>
              {{ else if (eq .ErrorCode 500) }}
              <h2>500 Internal Server Error - Requested path: {{.AbsPath}}</h2>
              {{ else }}
              <h2>Error</h2>
              {{ end }}
            </div>
          </header>
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class="col-md-12 mt-2">
          <div class="d-flex align_item_center">
            <h3>Error message from goshs:</h3>
            <code class="error-code p-3">{{.ErrorMessage}}</code>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <span class="error-back">
              <i class="fas fa-level-up-alt file_ic"></i>
              <a href="javascript:window.history.back()">Back</a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <footer>
            <p>goshs {{ .GoshsVersion }}</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
