// footer.tmpl

{{ define "footer" }}

<footer>
    <p>
        goshs {{ .GoshsVersion }}
    </p>
</footer>
</div>

<!-- Scripts -->
<script src="/js/bootstrap.bundle.min.js?static"></script>
<script src="/js/color-modes.min.js?static"></script>

</body>
</html>

{{ end }}