{{ template "header" . }}
<!-- Content Row -->
<div class="container-fluid flex-fill mt-2">
    <div class="row h-100">
        <!-- 6: File Listing -->
        <div class="col-xl-6">
            <!-- Heading Row -->
            <div class="row">
                <div class="col mb-2">
                    <h1>Upload File</h1>
                </div>
            </div>
            <!-- Upload Row -->
            <div class="row">
                <div class="col mb-2">
                    <!-- Upload Form -->
                    {{ if (eq .Directory.RelPath "/") }}
                    <form method="post" action="/upload" enctype="multipart/form-data">
                        {{ else }}
                        <form method="post" action="{{.Directory.RelPath}}/upload" enctype="multipart/form-data">
                            {{ end }}

                            <div class="input-group">
                                <div class="dropzone form-control" id="mydropzone">
                                    <div class="dz-message" data-dz-message><span>Drag & Drop files here or click to
                                            select. Files will be uploaded automatically.</span></div>
                                </div>
                            </div>

                        </form>
                </div>
            </div>
            <!-- Checkbox Control Row -->
            <div class="row">
                <div class="col mb-2">
                    <!-- Control Checkboxes -->
                    <input type="button" class="btn btn-primary mr-1" value="Select All" onclick=selectAll()>
                    <input type="button" class="btn btn-primary" value="Select None" onclick=selectNone()>
                </div>
            </div>

            <!-- Table Row -->
            <div class="row">
                <div class="col">
                    <!-- Table -->
                    <form method="GET" action="/">
                        <table id="tableData" class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th width="4%">
                                        <!--Checkbox multiple downloads -->
                                    </th>
                                    <th width="4%">
                                        <!--Type (Directory or File)-->
                                    </th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Last Modified</th>
                                    <th width="4%">
                                        <!--Direct Download button-->
                                    </th>
                                    <th width="4%">
                                        <!--Delete Button-->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Back with .. -->
                                {{ if .Directory.IsSubdirectory }}
                                <tr>
                                    <td></td>
                                    <td><i class="fa-solid fa-level-up-alt file_ic"></i></td>
                                    <td><a href="{{.Directory.Back}}">../</a></td>
                                    <td data-order="0">--</td>
                                    <td data-order="0">--</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {{ end }}
                                {{range .Directory.Content}}
                                <tr>
                                    <td>
                                        <div class="chkbx">
                                            <input type="checkbox" class="checkbox downloadBulkCheckbox" name="file"
                                                value="{{.URI}}" />
                                        </div>
                                    </td>
                                    <td>
                                        <!-- Icon -->
                                        {{ if .IsDir }}
                                        <i class="fa-solid fa-folder file_ic"></i>
                                        <!-- Directory icon -->
                                        {{ else }}
                                        {{ if .IsSymlink }}
                                        <i class="fa-solid fa-file file_ic"></i>
                                        <!-- File icon -->

                                        {{ else if or (eq .Ext ".gz") (eq .Ext ".zip") (eq .Ext ".tar") (eq .Ext
                                        ".rar") (eq .Ext ".7z") }}
                                        <i class="fa-solid fa-file-archive file_ic"></i>
                                        <!-- Archive icon -->

                                        {{ else if (eq .Ext ".pdf") }}
                                        <i class="fa-solid fa-file-pdf file_ic"></i>
                                        <!-- PDF icon -->

                                        {{ else if or (eq .Ext ".pptx") (eq .Ext ".ppt") (eq .Ext ".pps") (eq .Ext
                                        ".odp") }}
                                        <i class="fa-solid fa-file-powerpoint file_ic"></i>
                                        <!-- Powerpoint icon -->

                                        {{ else if or (eq .Ext ".docx") (eq .Ext ".doc") (eq .Ext ".odt") }}
                                        <i class="fa-solid fa-file-word file_ic"></i>
                                        <!-- Word icon -->

                                        {{ else if or (eq .Ext ".xlsx") (eq .Ext ".xls") (eq .Ext ".ods") }}
                                        <i class="fa-solid fa-file-excel file_ic"></i>
                                        <!-- Excel icon -->

                                        {{ else if (eq .Ext ".csv") }}
                                        <i class="fa-solid fa-file-csv file_ic"></i>
                                        <!-- CSV icon -->

                                        {{ else if (eq .Ext ".exe") }}
                                        <i class="fab fa-windows file_ic"></i>
                                        <!-- Windows icon -->

                                        {{ else if or (eq .Ext ".txt") (eq .Ext ".rtf") (eq .Ext ".md") (eq .Ext
                                        ".conf") (eq .Ext ".html") (eq .Ext ".htm") (eq .Ext ".log") (eq .Ext
                                        ".ini") (eq .Ext ".cfg") (eq .Ext ".yml") (eq .Ext ".toml") (eq .Ext
                                        ".json") (eq .Ext ".asc") (eq .Ext ".xml") }}
                                        <i class="fa-solid fa-file-alt file_ic"></i>
                                        <!-- Text icon -->

                                        {{ else if or (eq .Ext ".flac") (eq .Ext ".wav") (eq .Ext ".mp3") }}
                                        <i class="fa-solid fa-file-audio file_ic"></i>
                                        <!-- Audio icon -->

                                        {{ else if or (eq .Ext ".mpeg") (eq .Ext ".mpg") (eq .Ext ".mp4") (eq .Ext
                                        ".wmv") (eq .Ext ".avi") (eq .Ext ".flv") (eq .Ext ".mkv") (eq .Ext ".mov")
                                        (eq .Ext ".webm") (eq .Ext ".vob") (eq .Ext ".ogg") (eq .Ext ".m4v") (eq
                                        .Ext ".h264") }}
                                        <i class="fa-solid fa-file-video file_ic"></i>
                                        <!-- Video icon -->

                                        {{ else if or (eq .Ext ".bmp") (eq .Ext ".tiff") (eq .Ext ".tif") (eq .Ext
                                        ".ai") (eq .Ext ".cdr") (eq .Ext ".xcf") (eq .Ext ".raw") (eq .Ext ".gif")
                                        (eq .Ext ".png") (eq .Ext ".jpg") (eq .Ext ".jpeg") (eq .Ext ".psd") (eq
                                        .Ext ".svg") ( eq .Ext ".ico") }}
                                        <i class="fa-solid fa-file-image file_ic"></i>
                                        <!-- Picture icon -->

                                        {{ else if or (eq .Ext ".php") (eq .Ext ".py") (eq .Ext ".go") (eq .Ext
                                        ".cs") (eq .Ext ".c") (eq .Ext ".pl") (eq .Ext ".rb") (eq .Ext ".cgi") (eq
                                        .Ext ".cpp") (eq .Ext ".java") (eq .Ext ".tex") (eq .Ext ".bat") (eq .Ext
                                        ".ps1") }}
                                        <i class="fa-solid fa-file-code file_ic"></i>
                                        <!-- Code icon -->

                                        {{ else if or (eq .Ext ".iso") (eq .Ext ".dmg") (eq .Ext ".bin") (eq .Ext
                                        ".vcd") (eq .Ext ".vhd") (eq .Ext ".vhdx") (eq .Ext ".vmdk") (eq .Ext
                                        ".qcow2") (eq .Ext ".img") }}
                                        <i class="fa-solid fa-compact-disc file_ic"></i>
                                        <!-- ISO icon -->

                                        {{ else if or (eq .Ext ".mdb") (eq .Ext ".db") (eq .Ext ".dbf") (eq .Ext
                                        ".dat") (eq .Ext ".sql") }}
                                        <i class="fa-solid fa-database file_ic"></i>
                                        <!-- Database icon -->

                                        {{ else }}
                                        <i class="fa-solid fa-file file_ic"></i>
                                        <!--File icon -->

                                        {{ end }}
                                        {{ end }}
                                    </td>
                                    <td>
                                        <!-- Name -->
                                        {{ if .IsSymlink }}
                                        <a href="/{{.URI}}">{{.Name}} --> {{.SymlinkTarget}}</a>
                                        {{ else }}
                                        <a href="/{{.URI}}">{{.Name}}</a>
                                        {{ end }}
                                    </td>

                                    <!-- File size -->
                                    {{ if .IsDir }}
                                    <td data-order="0">
                                        --
                                    </td>
                                    {{ else }}
                                    <td data-order="{{.SortSize}}">
                                        {{.DisplaySize}}
                                    </td>
                                    {{ end }}
                                    <td data-order="{{.SortLastModified}}">
                                        <!-- File last modified -->
                                        {{ .DisplayLastModified }}
                                    </td>
                                    <td>
                                        {{ if .IsDir }}
                                        <!--No download button-->
                                        {{ else }}
                                        <a href="/{{.URI}}?download"><i class="fa-solid fa-download fa-1x"></i></a>
                                        {{ end }}
                                    </td>
                                    <td>
                                        {{ if .ReadOnly }}
                                        {{ else }}
                                        <a onclick="deleteFile('/{{.URI}}',false)"><i class="fa-solid fa-trash-alt fa-1x"></i></a>
                                        {{ end }}
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                        <input type="hidden" name="bulk" value="true" />
                        <input type="submit" class="btn btn-primary" id="downloadBulkButton" value="Download Selected"
                            style="display:none">
                    </form>
                    <button class="btn btn-primary" id="bulkDelete" onclick="bulkDelete()" style="display:none">Delete Selected</button>
                </div>
            </div>
        </div>
        <!-- 6: Clipboard and CLI-->
        <div class="col-xl-6 h-100">
            <!-- Clipboard Heading Row -->
            <div class="row">
                <div class="col mb-2">
                    <h1>Clipboard</h1>
                </div>
            </div>
            <!-- Clipboard Input Row -->
            <div class="row">
                <div class="col mb-2">
                    <form method="GET" action="#" onsubmit="return sendEntry(event)" id="clipform">
                        <div class="input-group cbInputGroup">
                            <textarea id="cbEntry" rows="4" cols="80" name="cbEntry" form="clipform"
                                class="form-control"></textarea>
                            <button class="btn btn-primary" type="submit">+</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Clipboard Control Row -->
            <div class="row">
                <div class="col mb-2 text-right">
                    <div class="d-flex flex-row-reverse">
                        <form action="#" onsubmit="return clearClipboard(event)">
                            <button type="submit" class="btn btn-danger">Clear Clipboard</button>
                        </form>
                        <a href="/?cbDown" class="btn btn-primary"><i class="fa-solid fa-download"></i> Export</a>
                    </div>
                </div>
            </div>
            <!-- Clipboard Cards Row -->
            <div class="row">
                <div class="col">
                    {{ range .Clipboard.Entries }}
                    <div class="card clipboardCard mt-2" id="card-{{.ID}}">
                        <div class="card-header d-flex flex-row">
                            <div class="col-md-10">
                                <h5 class="card-title">{{.Time}}</h5>
                            </div>
                            <div class="col-md-1">
                                <sup><a href="#" onclick="return delClipboard('{{.ID}}')"><i
                                            class="fa-solid fa-trash del_button"></i></a></sup>
                                <sup><a href="#" onclick="return copyToClipboard('{{.ID}}')"><i
                                    class="fa-solid fa-copy del_button"></i></a></sup>
                            </div>
                            <div class="col-md-1">
                                <h5>{{.ID}}</h5>
                            </div>
                        </div>
                        <div class="card-body" id="card-body-{{.ID}}">
                            <pre>{{.Content}}</pre>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ if .Embedded }}
            <!-- Embedded Heading Row -->
            <div class="row">
                <div class="col mb-2">
                    <h1>Embedded files</h1>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <table id="tableDataEmbedded" class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
            {{ range .EmbeddedContent.Content }}
            <tr>
                <td>
                    <!-- Name -->
                    <a href="/{{.URI}}" target="_blank">{{.Name}}</a>
                </td>
            </tr>
            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
            {{ end }}
            {{ if .CLI }}
            <!-- CLI Heading Row -->
            <div class="row">
                <div class="col mb-2">
                    <h1>CLI</h1>
                </div>
            </div>
            <!-- CLI Input Row -->
            <div class="row">
                <div class="col mb-2">
                    <form method="GET" action="#" onsubmit="return sendCommand(event)" id="cli">
                        <div class="input-group cbInputGroup">
                            <textarea id="cliCommand" rows="2" cols="80" name="cliCommand" form="cliform"
                                class="form-control disable-scrollbars" autofocus></textarea>
                            <button class="btn btn-primary" type="submit">run</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- CLI Output Row-->
            <div class="row h-50">
                <div class="col mb-2">
                    <textarea id="cliOutput" name="cliOutput" class="form-control h-100 disable-scrollbars"
                        disabled></textarea>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ template "scripts_index" . }}
{{ template "footer" . }}