<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>goshs - {{.Directory.AbsPath}}</title>
    <!-- stylesheets -->
    <link rel="icon" type="image/gif" href="/images/favicon.gif?static" />
    <link rel="stylesheet" href="/3rdparty/datatable/jquery.dataTables.min.css?static" />
    <link rel="stylesheet" href="/3rdparty/dropzone/basic.min.css?static" />
    <link rel="stylesheet" href="/3rdparty/dropzone/dropzone.min.css?static" />
    <link rel="stylesheet" href="/css/style.css?static" />
    <link rel="stylesheet" href="/3rdparty/fontawesome-5.15.1/css/all.min.css?static" />
</head>

<body class="disable-scrollbars">
    <!-- Container -->
    <div class="container-fluid">
        <!-- Header -->
        <div class="row">
         <div class="col-md-12">
            <header id="header" class="d-flex align_item_center">
                <div onclick="document.location='/'" class="logo">
                    <img src="/images/goshs-logo.png?static"
                        alt="goshs" />
                </div>
                <div class="heading_title">
                    <h2>Directory: {{.Directory.AbsPath}}</h2>
                </div>
            </header>
         </div>
        </div>

        <!-- Content Row -->
        <div class="row pt-4">
            <!-- 6: File Listing -->
            <div class="col">
                <!-- Heading Row -->
                <div class="row">
                    <div class="col mb-2">
                        <h1>Upload File</h1>
                    </div>
                </div>
                <!-- Upload Row -->
                <div class="row">
                    <div class="col mb-2">
                        <!-- Upload Form -->
                        {{ if (eq .Directory.RelPath "/") }}
                        <form method="post" action="/upload" enctype="multipart/form-data">
                        {{ else }}
                        <form method="post" action="{{.Directory.RelPath}}/upload" enctype="multipart/form-data">
                        {{ end }}

                        <div class="input-group">
                            <div class="dropzone form-control" id="mydropzone">
                                <div class="dz-message" data-dz-message><span>Drag & Drop files here or click to select. Submit with button on the right</span></div>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" id="submit-dropzone" class="btn btn-primary">+</button>
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
                <!-- Checkbox Control Row -->
                <div class="row">
                    <div class="col mb-2">
                    <!-- Control Checkboxes -->
                        <input type="button" class="btn btn-primary mr-1" value="Select All" onclick=selectAll()>
                        <input type="button" class="btn btn-primary" value="Select None" onclick=selectNone()>
                    </div>
                </div>

                <!-- Table Row -->
                <div class="row">
                    <div class="col">
                    <!-- Table -->
                            <form method="GET"
                                action="/">
                                <table id="tableData" class="table table-striped table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="4%">
                                                <!--Checkbox multiple downloads -->
                                            </th>
                                            <th width="4%">
                                                <!--Type (Directory or File)-->
                                            </th>
                                            <th>Name</th>
                                            <th>Size</th>
                                            <th>Last Modified</th>
                                            <th width="4%">
                                                <!--Direct Download button-->
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Back with .. -->
                                        {{ if .Directory.IsSubdirectory }}
                                        <tr>
                                            <td></td>
                                            <td><i class="fas fa-level-up-alt file_ic"></i></td>
                                            <td><a href="{{.Directory.Back}}">../</a></td>
                                            <td>--</td>
                                            <td>--</td>
                                            <td></td>
                                        </tr>
                                        {{ end }}
                                        {{range .Directory.Content}}
                                        <tr>
                                            <td>
                                                <div class="chkbx">
                                                    <input type="checkbox" class="checkbox downloadBulkCheckbox" name="file" value="{{.URI}}" />
                                                </div>
                                            </td>
                                            <td>
                                                <!-- Icon -->
                                                {{ if .IsDir }}
                                                <i class="fas fa-folder file_ic"></i>
                                                <!-- Directory icon -->
                                                {{ else }}
                                                {{ if .IsSymlink }}
                                                <i class="fas fa-file file_ic"></i>
                                                <!-- File icon -->

                                                {{ else if or (eq .Ext ".gz") (eq .Ext ".zip") (eq .Ext ".tar") (eq .Ext ".rar") (eq .Ext ".7z") }}
                                                <i class="fas fa-file-archive file_ic"></i>
                                                <!-- Archive icon -->

                                                {{ else if (eq .Ext ".pdf") }}
                                                <i class="fas fa-file-pdf file_ic"></i>
                                                <!-- PDF icon -->

                                                {{ else if or (eq .Ext ".pptx") (eq .Ext ".ppt")  (eq .Ext ".pps") (eq .Ext ".odp") }}
                                                <i class="fas fa-file-powerpoint file_ic"></i>
                                                <!-- Powerpoint icon -->

                                                {{ else if or (eq .Ext ".docx") (eq .Ext ".doc") (eq .Ext ".odt") }}
                                                <i class="fas fa-file-word file_ic"></i>
                                                <!-- Word icon -->

                                                {{ else if or (eq .Ext ".xlsx") (eq .Ext ".xls") (eq .Ext ".ods") }}
                                                <i class="fas fa-file-excel file_ic"></i>
                                                <!-- Excel icon -->

                                                {{ else if (eq .Ext ".csv") }}
                                                <i class="fas fa-file-csv file_ic"></i>
                                                <!-- CSV icon -->

                                                {{ else if (eq .Ext ".exe") }}
                                                <i class="fab fa-windows file_ic"></i>
                                                <!-- Windows icon -->

                                                {{ else if or (eq .Ext ".txt") (eq .Ext ".rtf") (eq .Ext ".md") (eq .Ext ".conf") (eq .Ext ".html") (eq .Ext ".htm") (eq .Ext ".log") (eq .Ext ".ini") (eq .Ext ".cfg") (eq .Ext ".yml") (eq .Ext ".toml") (eq .Ext ".json") (eq .Ext ".asc") (eq .Ext ".xml") }}
                                                <i class="fas fa-file-alt file_ic"></i>
                                                <!-- Text icon -->

                                                {{ else if or (eq .Ext ".flac") (eq .Ext ".wav") (eq .Ext ".mp3") }}
                                                <i class="fas fa-file-audio file_ic"></i>
                                                <!-- Audio icon -->

                                                {{ else if or (eq .Ext ".mpeg") (eq .Ext ".mpg") (eq .Ext ".mp4") (eq .Ext ".wmv") (eq .Ext ".avi") (eq .Ext ".flv") (eq .Ext ".mkv") (eq .Ext ".mov") (eq .Ext ".webm") (eq .Ext ".vob") (eq .Ext ".ogg") (eq .Ext ".m4v") (eq .Ext ".h264") }}
                                                <i class="fas fa-file-video file_ic"></i>
                                                <!-- Video icon -->

                                                {{ else if or (eq .Ext ".bmp") (eq .Ext ".tiff") (eq .Ext ".tif") (eq .Ext ".ai") (eq .Ext ".cdr") (eq .Ext ".xcf") (eq .Ext ".raw") (eq .Ext ".gif") (eq .Ext ".png") (eq .Ext ".jpg") (eq .Ext ".jpeg") (eq .Ext ".psd") (eq .Ext ".svg") ( eq .Ext ".ico") }}
                                                <i class="fas fa-file-image file_ic"></i>
                                                <!-- Picture icon -->

                                                {{ else if or (eq .Ext ".php") (eq .Ext ".py") (eq .Ext ".go") (eq .Ext ".cs") (eq .Ext ".c") (eq .Ext ".pl") (eq .Ext ".rb") (eq .Ext ".cgi") (eq .Ext ".cpp") (eq .Ext ".java") (eq .Ext ".tex") (eq .Ext ".bat") (eq .Ext ".ps1") }}
                                                <i class="fas fa-file-code file_ic"></i>
                                                <!-- Code icon -->

                                                {{ else if or (eq .Ext ".iso") (eq .Ext ".dmg") (eq .Ext ".bin") (eq .Ext ".vcd") (eq .Ext ".vhd") (eq .Ext ".vhdx") (eq .Ext ".vmdk") (eq .Ext ".qcow2") (eq .Ext ".img") }}
                                                <i class="fas fa-compact-disc file_ic"></i>
                                                <!-- ISO icon -->

                                                {{ else if or (eq .Ext ".mdb") (eq .Ext ".db") (eq .Ext ".dbf") (eq .Ext ".dat") (eq .Ext ".sql") }}
                                                <i class="fas fa-database file_ic"></i>
                                                <!-- Database icon -->

                                                {{ else }}
                                                <i class="fas fa-file file_ic"></i>
                                                <!--File icon -->

                                                {{ end }}
                                                {{ end }}
                                            </td>
                                            <td>
                                                <!-- Name -->
                                                {{ if .IsSymlink }}
                                                <a href="/{{.URI}}">{{.Name}} --> {{.SymlinkTarget}}</a>
                                                {{ else }}
                                                <a href="/{{.URI}}">{{.Name}}</a>
                                                {{ end }}
                                            </td>
                                            <td data-order="{{.SortSize}}">
                                                <!-- File size -->
                                                {{ if .IsDir }}
                                                --
                                                {{ else }}
                                                {{.DisplaySize}}
                                                {{ end }}
                                            </td>
                                            <td data-order="{{.SortLastModified}}">
                                                <!-- File last modified -->
                                                {{ .DisplayLastModified }}
                                            </td>
                                            <td>
                                                {{ if .IsDir }}
                                                <!--No download button-->
                                                {{ else }}
                                                <a href="/{{.URI}}?download"><i class="fas fa-download fa-1x"></i></a>
                                                {{ end }}
                                            </td>
                                        </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                                <input type="hidden" name="bulk" value="true" />
                                <input type="submit" class="btn btn-primary" id="downloadBulkButton" value="Download Selected" style="display:none">
                            </form>
                    </div>
                </div>
            </div>
            <!-- 6: Clipboard and CLI-->
            <div class="col">
                <!-- Clipboard Heading Row -->
                <div class="row">
                    <div class="col mb-2">
                        <h1>Clipboard</h1>
                    </div>
                </div>
                <!-- Clipboard Input Row -->
                <div class="row">
                    <div class="col mb-2">
                        <form method="GET" action="#" onsubmit="return sendEntry(event)" id="clipform">
                            <div class="input-group cbInputGroup">
                                <textarea id="cbEntry" rows="4" cols="80" name="cbEntry" form="clipform"
                                    class="form-control"></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">+</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Clipboard Control Row -->
                <div class="row">
                    <div class="col mb-2 text-right">
                        <div class="d-flex flex-row-reverse">
                            <form action="#" onsubmit="return clearClipboard(event)">
                                <button type="submit" class="btn btn-danger pl-2">Clear Clipboard</button>
                            </form>
                            <a href="/?cbDown" class="btn btn-primary"><i class="fas fa-download"></i> Export</a>
                        </div>
                    </div>
                </div>
                <!-- Clipboard Cards Row -->
                <div class="row">
                    <div class="col">
                        {{ range .Clipboard.Entries }}
                        <div class="card clipboardCard mt-2" id="card-{{.ID}}">
                            <div class="card-header d-flex flex-row">
                                <div class="col-md-10">
                                    <h5 class="card-title">{{.Time}}</h5>
                                </div>
                                <div class="col-md-1">
                                    <sup><a href="#" onclick="return delClipboard('{{.ID}}')"><i class="fas fa-trash"></i></a></sup>
                                </div>
                                <div class="col-md-1">
                                    <h5>{{.ID}}</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <pre>{{.Content}}</pre>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ if .CLI }}
                <!-- CLI Heading Row -->
                <div class="row">
                    <div class="col mb-2">
                        <h1>CLI</h1>
                    </div>
                </div>
                <!-- CLI Input Row -->
                <div class="row">
                    <div class="col mb-2">
                        <form method="GET" action="#" onsubmit="return sendCommand(event)" id="cli">
                            <div class="input-group cbInputGroup">
                                <textarea id="cliCommand" rows="4" cols="80" name="cliCommand" form="cliform"
                                    class="form-control"></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">run</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- CLI Output Row-->
                <div class="row">
                    <div class="col mb-2">
                        <pre id="cliOutput">test</pre>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

        <!-- Footer Row -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <footer>
                    <p>
                        goshs {{ .GoshsVersion }}
                    </p>
                </footer>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/js/jquery-3.5.1.min.js?static"></script>
    <script src="/3rdparty/datatable/jquery.dataTables.min.js?static"></script>
    <script src="/3rdparty/dropzone/dropzone.min.js?static"></script>
    <script src="/js/main.min.js?static"></script>

    <!-- Dropzone related config -->
    <script>
        Dropzone.autoDiscover = false;
    </script>
    {{ if (eq .Directory.RelPath "/") }}
        <script>
            let url = "/upload"
        </script>
    {{ else }}
        <script>
            let url = "{{.Directory.RelPath}}/upload"
        </script>
    {{ end }}

    <script>
        let myDropzone = new Dropzone("div#mydropzone", {
            autoProcessQueue: false,
            paramName: "files",
            method: "post",
            url: url,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            maxFilesize: 10240,

            init: function () {
                document.querySelector("button[type=submit]#submit-dropzone").addEventListener("click", function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                })

            }
        });

        myDropzone.on("successmultiple", function () {
            location.reload();
        });
    </script>
</body>

</html>