
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>goshs - silent mode</title>
    <!-- stylesheets -->
    <link rel="icon" type="image/gif"
        href="/425bda8487e36deccb30dd24be590b8744e3a28a8bb5a57d9b3fcd24ae09ad3c/images/favicon.gif" />
    <link rel="stylesheet"
        href="/425bda8487e36deccb30dd24be590b8744e3a28a8bb5a57d9b3fcd24ae09ad3c/css/style.css" />
</head>

<body class="disable-scrollbars">
    <!-- Container -->
    <div class="container-fluid">
        <!-- Header -->
        <div class="row">
         <div class="col-md-12">
            <header id="header" class="d-flex align_item_center">
                <div onclick="document.location='/'" class="logo">
                    <img src="/425bda8487e36deccb30dd24be590b8744e3a28a8bb5a57d9b3fcd24ae09ad3c/images/goshs-logo.png"
                        alt="goshs" />
                </div>
                <div class="heading_title">
                    <h2>Running in silent mode</h2>
                </div>
            </header>
         </div>
        </div>

        <!-- Footer Row -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <footer>
                    <p>
                        goshs {{ .GoshsVersion }}
                    </p>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>