/.vscode
/build
/dist
/goshs
*.exe
*resource.go
/embedded/*
!embedded/example.txt
/httpserver/embedded/*
!httpserver/embedded/example.txt
*.bak
/integration/files
/integration/covdata
coverage.out
unit.out
integration.out
*.pcapng
*.pdml
.claude/
