// font.scss

/* Fira Code VF from 300 to 700 */
@font-face {
  font-family: 'Fira Code VF';
  src: url('../fonts/FiraCode-VF.woff2?static') format('woff2-variations'),
    url('../fonts/FiraCode-VF.woff?static') format('woff-variations');
  font-weight: 300 700;
  font-style: normal;
}