// style.scss

// -------- Font --------
@import 'font';

// -------- Variables --------
@import 'vars';

// -------- Normalize ----------
@import 'normalize';

// import must come after theme overwrite
// and before element overwrite
// for it to work
@import '../3rdparty/bootstrap/scss/bootstrap.scss';

// -------- Overwriting general theme elements --------
@import 'general_theme.scss';

// Import light and dark Theme settings
@import 'light_theme.scss';
@import 'dark_theme.scss';